# Python junk files
*.pyc
__pycache__/

# Virtual environments
venv/
env/

# Django-related
db.sqlite3
*.log

# Static files for production
staticfiles/

# Node/npm-related (in case of frontend integration)
node_modules/
*.lock

# VS Code settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# Ignore all .vec and .txt files globally
*.vec
*.txt

# Unignore folder first (IMPORTANT!)
!cp/embeddings/

# Allow these specific embedding files
!cp/embeddings/glove.6B.200d.txt
!cp/embeddings/glove.6B.200d.word2vec.txt
